.app {
  width: max-content;

  margin: auto;

  padding: 2rem 4rem;

  background: var(--color-base);

  border-radius: var(--border-radius-item);

  box-shadow: var(--box-shadow-item);
}

.title {
  margin: 0;

  text-align: center;
}
.sub-title {
  margin: 0;
  margin-bottom: 2rem;

  text-align: center;
}

.logo {
  font-size: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;

  & > *:first-child {
    margin-right: 0.5rem;
  }

  &:last-child > *:first-child {
    color: var(--color-red);
  }
}
