.app {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 1rem;

  background: rgba(var(--color-black-raw), 0.1);

  border-radius: 10px;

  .spacer {
    width: 4rem;
    height: 4rem;
  }

  .control {
    width: 4rem;
    height: 4rem;

    margin: 0.25rem;
    padding: 0;

    background: var(--color-base);

    color: var(--color-text);

    font-size: 2rem;
    line-height: 4rem;
    text-align: center;

    border-radius: 10px;

    &.held {
      background: var(--color-mantle);

      border: none;

      outline: 1px solid var(--color-blue);
    }
  }
}

.minimap {
  position: absolute;
  top: 20px;
  right: 20px;

  height: 150px;
  width: 150px;

  // border: 1px solid #000;
  border-radius: 100%;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
